<template>
    <div>
        {{title}}<br>
        <hello></hello>
        <br>
        <form-file></form-file>
    </div>
</template>
<script>
    import Hello from './Hello.vue'
    import FormFile from './FormFile.vue'
    export default {
        data(){
            return {
                title: 'Hello World'
            }
        },
        components:{
            Hello,
            FormFile
        }}
</script>
<style>
</style>