<template>
    <form action="">
        <div v-for="documento in conteudo.curso.documentos" >
            {{documento.nome}} <input type="file" @change="onChangeFile" :name="`file-${documento.id}`"><br>
        </div>

    </form>
</template>
<script>
    export default {
        data(){
            return {
                conteudo:{
                    curso:{
                        nome:"Técnicos",
                        id:3,
                        documentos:[
                            {
                                id:2,
                                nome:"Atestado medico"
                            },
                            {
                                id:3,
                                nome:'ficha medica'
                            }
                        ]
                    }
                }
            }
        },
        methods:{
            onChangeFile(e){
                console.log(e.target.name);
                console.log(e.target.files[0].name);
                console.log(e.target.files[0].type);
            }
        }
    }
</script>
<style>
</style>