<template>
    <div>
        {{msg}}<br>
        {{at10()}}
    </div>
</template>
<script>
    import _ from 'lodash'
    export default{
        data(){
            return{
                msg:'hello vue'
            }
        },
        methods:{
            at10(){
                const array = [1,2,3,4,5,6,7,8,9,10];
                return _.flatten(_.reverse(array))
            }
        }
    }
</script>
